.form{
  width:600px ;
  max-width: 100%;
  position: sticky;
  bottom: 0;
  background-color: white;
  z-index: 2;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  height: auto;
}
.form2{
  width:600px ;
  max-width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
  box-shadow: 0px 0px 8px white;
  height: auto;
}
.price{
  color:rgb(202, 26, 26);
}
.popover{
  width: 1000px;
}